<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> suzan7zoc@gmail.com</p>
                <p><i class="fa-regular fa-mobile"></i>9817112273</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100082736012738"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a
                        href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fdi.pesh4115%3Figshid%3DYmMyMTA2M2Y%253D%26fbclid%3DIwAR0ZARm0mO1vTlgUSvVkoLpf2bGlR3AQ6rCNOImuupVWq_-OCKmr2X8gy0w&h=AT0WXWG9d1A4SSeUlfSiD6qmU8HxMf_gSy7lUU10EAfSa14kCYyMj1HoUq7asQHJf9eEZ0SeDUsGrv9TOvyUEVrBAhxu1yH6K5wP8H8BmL4AbeG15CBgY-9nueBTCiNJN5P8_A"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter-square"></i></a>
                </div>
                <a href="images/my-cv.pdf" download class="btn btn2">Download Cv</a>
            </div>
            <div class="contact-Right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="Email" name="E-mail" placeholder="Your E-mail" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright @ Sujan Joshi <i class="fa-solid fa-heart"></i> - 2023</p>
    </div>
</div>
