<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sujan Joshi</title>
    <link rel="stylesheet" href="{% static "core/css/all.css" %}">
    <link rel="stylesheet" href="{% static "core/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "core/css/style.css" %}">
</head>
<body>
    {% include "core/landing.html" %}
	{% include "core/about.html" %}
	{% include "core/services.html" %}
	{% include "core/portfolio.html" %}
	
	<!--Contact-->
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="contact-left">
					<h1 class="sub-title">Contact Me</h1>
					<p><i class="fa-solid fa-paper-plane"></i> suzan7zoc@gmail.com</p>
					<p><i class="fa-regular fa-mobile"></i>9817112273</p>
					<div class="social-icons">
						<a href="https://www.facebook.com/profile.php?id=100082736012738"><i
								class="fa-brands fa-facebook"></i></a>
						<a
							href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fdi.pesh4115%3Figshid%3DYmMyMTA2M2Y%253D%26fbclid%3DIwAR0ZARm0mO1vTlgUSvVkoLpf2bGlR3AQ6rCNOImuupVWq_-OCKmr2X8gy0w&h=AT0WXWG9d1A4SSeUlfSiD6qmU8HxMf_gSy7lUU10EAfSa14kCYyMj1HoUq7asQHJf9eEZ0SeDUsGrv9TOvyUEVrBAhxu1yH6K5wP8H8BmL4AbeG15CBgY-9nueBTCiNJN5P8_A"><i
								class="fa-brands fa-instagram"></i></a>
						<a href=""><i class="fa-brands fa-twitter-square"></i></a>
					</div>
					<a href="{% static "core/files/sujan-cv.pdf" %}" download class="btn btn2">Download Cv</a>
				</div>
				<div class="contact-Right">
					<form method="POST" novalidate>
						{% csrf_token %}
								{% if form.non_field_errors %}
									{% for error in form.non_field_errors %}
										<p>{{error}}</p>
									{% endfor %}
								{% endif %}
		
								{% for fm in form %}
									{{fm}}  {{fm.errors|striptags}}
								{% endfor %}
								<button type="submit" class="btn btn2">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Copyright @ Sujan Joshi <i class="fa-solid fa-heart"></i> <br> {{date|date}}</p>
		</div>
	</div>


	<script>

		var tablinks = document.getElementsByClassName("tab-links");
		var tabcontents = document.getElementsByClassName("tab-contents");

		function opentab(tabname) {
			for (tablink of tablinks) {
				tablink.classList.remove("active-link");
			}
			for (tabcontent of tabcontents) {
				tabcontent.classList.remove("active-tab");
			}
			event.currentTarget.classList.add("active-link");
			document.getElementById(tabname).classList.add("active-tab");
		}
	</script>

	<script>

		var sidemenu = document.getElementById("sidemenu");

		function openmenu() {
			sidemenu.style.right = "0";
		}
		function closemenu() {
			sidemenu.style.right = "-200px";
		}
	</script>
	
    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/popper.js" %}"></script>
    <script src="{% static "core/js/all.js" %}"></script>
    <script src="{% static "core/js/bootstrap.js" %}"></script>
</body>
</html>