<div id="services">
    <div class="container">
        <h1 class="sub-tittle">My services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Development</h2>
                <p>The creation of websites and pages to reflect a company's brand and information and ensure a
                    user-friendly experience.</p>
                <a href="">Learn More</a>
            </div>
            <div>
                <i class="fa-solid fa-crop-simple"></i>
                <h2>Domain and Hosting</h2>
                <p>UI/UX designers are responsible for overall user satisfaction with a product.IT is easier to use
                </p>
                <a href="">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store"></i>
                <h2>Video Editing</h2>
                <p>App design is an ongoing process comprising user experience (UX) and user interface (UI)
                    elements.</p>
                <a href="">Learn More</a>
            </div>
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Digital Marketing</h2>
                <p>The creation of websites and pages to reflect a company's brand and information and ensure a
                    user-friendly experience.</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </div>
</div>
